Repository EarthmanMuons/spellout, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions

Add some doc comments to the binary's private functions
  crates/spellout/src/main.rs
Labels: none

Bump clap from 4.3.0 to 4.3.1
  Cargo.lock
Labels: dependencies

Bump clap from 4.3.0 to 4.3.1
  Cargo.lock
Labels: dependencies

Generate spellout package assets via build.rs
  Cargo.lock
  Cargo.toml
  crates/spellout/Cargo.toml
  crates/spellout/build.rs
  crates/spellout/src/cli.rs
  crates/spellout/src/main.rs
Labels: dependencies

Generate spellout package assets via build.rs
  Cargo.lock
  Cargo.toml
  crates/spellout/Cargo.toml
  crates/spellout/build.rs
  crates/spellout/src/cli.rs
  crates/spellout/src/main.rs
Labels: dependencies

Copy build script outputs to dist directory via xtask
  xtask/src/dist.rs
  xtask/src/utils.rs
Labels: none

Allow clippy::question_mark in xtask dist module
  xtask/src/dist.rs
Labels: none

Copy important project docs to dist directory via xtask
  xtask/src/dist.rs
Labels: none

Copy build script outputs to dist directory via xtask
  xtask/src/dist.rs
  xtask/src/utils.rs
Labels: none

Allow clippy::question_mark in xtask dist module
  xtask/src/dist.rs
Labels: none

Copy important project docs to dist directory via xtask
  xtask/src/dist.rs
Labels: none

Do not hard-code the binary name in the build.rs script
  crates/spellout/build.rs
Labels: none

Do not hard-code the binary name in the build.rs script
  crates/spellout/build.rs
Labels: none

Use --generate flag on spellout binary for printing asset files
  crates/spellout/Cargo.toml
  crates/spellout/build.rs
  crates/spellout/src/cli.rs
  crates/spellout/src/main.rs
  xtask/src/dist.rs
  xtask/src/utils.rs
Labels: none

Use --generate flag on spellout binary for printing asset files
  crates/spellout/Cargo.toml
  crates/spellout/build.rs
  crates/spellout/src/cli.rs
  crates/spellout/src/main.rs
  xtask/src/dist.rs
  xtask/src/utils.rs
Labels: none

Remove redundant acronym text
  crates/spellout/src/cli.rs
Labels: none

Remove redundant acronym text
  crates/spellout/src/cli.rs
Labels: none

Only change working directory once
  xtask/src/dist.rs
Labels: none

Only change working directory once
  xtask/src/dist.rs
Labels: none

Add current git hash to the version output
  crates/spellout/build.rs
  crates/spellout/src/cli.rs
  crates/spellout/src/main.rs
  xtask/src/dist.rs
Labels: none

Add current git hash to the version output
  crates/spellout/build.rs
  crates/spellout/src/cli.rs
  crates/spellout/src/main.rs
  xtask/src/dist.rs
Labels: none

Use version output similar to rustc
  crates/spellout/build.rs
Labels: none

Use version output similar to rustc
  crates/spellout/build.rs
Labels: none

Bump taiki-e/install-action from 2.9.0 to 2.9.3
  .github/cue/shared-steps.cue
  .github/workflows/preload-caches.yml
  .github/workflows/rust.yml
  .github/workflows/scheduled.yml
Labels: github_actions

Bump crate-ci/typos from 1.14.11 to 1.14.12
  .github/cue/shared-steps.cue
  .github/workflows/wordsmith.yml
Labels: github_actions

.github/labeler.yml:

dependencies:
  - Cargo.lock

documentation:
  - "**/*.md"

github_actions:
  - .github/workflows/*.yml
