Repository EarthmanMuons/spellout, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions

Rename RustOps Blueprint references to spellout
  .github/ISSUE_TEMPLATE/config.yml
  .github/cue/cue.mod/module.cue
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  SECURITY.md
  crates/mybin/README.md
  crates/mylib/Cargo.toml
Labels: documentation

Rename mybin/mylib references to spellout/spellabet
  CONTRIBUTING.md
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/README.md
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/Cargo.toml
  crates/spellout/README.md
  crates/spellout/src/main.rs
Labels: dependencies, documentation

Bump taiki-e/install-action from 2.8.6 to 2.8.8
  .github/cue/shared-steps.cue
  .github/workflows/preload-caches.yml
  .github/workflows/rust.yml
  .github/workflows/scheduled.yml
Labels: github_actions

Bump taiki-e/install-action from 2.8.6 to 2.8.8
  .github/cue/shared-steps.cue
  .github/workflows/preload-caches.yml
  .github/workflows/rust.yml
  .github/workflows/scheduled.yml
Labels: github_actions

Update README with bare bones info on spellout
  README.md
  crates/spellout/README.md
Labels: documentation

Update README with bare bones info on spellout
  README.md
  crates/spellout/README.md
Labels: documentation

Add minimum viable spellabet library
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/src/main.rs
Labels: dependencies

Add minimum viable spellabet library
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/src/main.rs
Labels: dependencies

Use once_cell for lazy initialization of the alphabet HashMaps
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/src/lib.rs
Labels: dependencies

Use once_cell for lazy initialization of the alphabet HashMaps
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/src/lib.rs
Labels: dependencies

Use constants intead of lazy initialization and organize files
  crates/spellabet/src/code_words.rs
  crates/spellabet/src/lib.rs
  crates/spellout/src/main.rs
Labels: none

Use constants intead of lazy initialization and organize files
  crates/spellabet/src/code_words.rs
  crates/spellabet/src/lib.rs
  crates/spellout/src/main.rs
Labels: none

Add LAPD spelling alphabet
  crates/spellabet/src/code_words.rs
  crates/spellabet/src/lib.rs
Labels: none

Fix deliberate NATO spelling choices
  crates/spellabet/src/code_words.rs
  crates/spellabet/tests/integration/main.rs
Labels: none

Add US Financial spelling alphabet
  crates/spellabet/src/code_words.rs
  crates/spellabet/src/lib.rs
Labels: none

Add US Financial spelling alphabet
  crates/spellabet/src/code_words.rs
  crates/spellabet/src/lib.rs
Labels: none

Add LAPD spelling alphabet
  crates/spellabet/src/code_words.rs
  crates/spellabet/src/lib.rs
Labels: none

Fix deliberate NATO spelling choices
  crates/spellabet/src/code_words.rs
  crates/spellabet/tests/integration/main.rs
Labels: none

Remove once_cell dependency from Cargo.toml
  Cargo.lock
  crates/spellabet/Cargo.toml
Labels: dependencies

Bump taiki-e/install-action from 2.8.8 to 2.9.0
  .github/cue/shared-steps.cue
  .github/workflows/preload-caches.yml
  .github/workflows/rust.yml
  .github/workflows/scheduled.yml
Labels: github_actions

Bump taiki-e/install-action from 2.8.8 to 2.9.0
  .github/cue/shared-steps.cue
  .github/workflows/preload-caches.yml
  .github/workflows/rust.yml
  .github/workflows/scheduled.yml
Labels: github_actions

Remove once_cell dependency from Cargo.toml
  Cargo.lock
  crates/spellabet/Cargo.toml
Labels: dependencies

Use enumerate to add the separator when converting chars
  crates/spellabet/src/lib.rs
Labels: none

Add nonce form output configuration option
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/src/main.rs
Labels: none

Use enumerate to add the separator when converting chars
  crates/spellabet/src/lib.rs
Labels: none

Add nonce form output configuration option
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/src/main.rs
Labels: none

Add with_overrides function to alter the conversion map
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
Labels: none

Add with_overrides function to alter the conversion map
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
Labels: none

Expand spellabet integration tests for better coverage
  crates/spellabet/tests/integration/main.rs
Labels: none

Expand spellabet integration tests for better coverage
  crates/spellabet/tests/integration/main.rs
Labels: none

Split integration tests to be more granular
  crates/spellabet/tests/integration/main.rs
Labels: none

Split integration tests to be more granular
  crates/spellabet/tests/integration/main.rs
Labels: none

Add tests covering each available spelling alphabet
  crates/spellabet/tests/integration/main.rs
Labels: none

Add tests covering each available spelling alphabet
  crates/spellabet/tests/integration/main.rs
Labels: none

Expand the README overview documentation and inspiration references
  README.md
  crates/spellabet/README.md
Labels: documentation

Expand the README overview documentation and inspiration references
  README.md
  crates/spellabet/README.md
Labels: documentation

Switch equality assertions over to Insta snapshot tests
  .insta.yaml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/spellabet/Cargo.toml
  crates/spellabet/tests/integration/main.rs
  xtask/src/dev.rs
  xtask/src/main.rs
Labels: dependencies, documentation

Switch equality assertions over to Insta snapshot tests
  .insta.yaml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/spellabet/Cargo.toml
  crates/spellabet/tests/integration/main.rs
  xtask/src/dev.rs
  xtask/src/main.rs
Labels: dependencies, documentation

Add minimum viable spellout binary
  Cargo.lock
  Cargo.toml
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Move location of alphabet borrows out of assignment
  crates/spellabet/tests/integration/main.rs
Labels: none

.github/labeler.yml:

dependencies:
  - Cargo.lock

documentation:
  - "**/*.md"

github_actions:
  - .github/workflows/*.yml
