Repository EarthmanMuons/spellout, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions

.github/labeler.yml:

dependencies:
  - Cargo.lock

documentation:
  - "**/*.md"

github_actions:
  - .github/workflows/*.yml

Add minimum viable spellout binary
  Cargo.lock
  Cargo.toml
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Move location of alphabet borrows out of assignment
  crates/spellabet/tests/integration/main.rs
Labels: none

Parse environment variables for spellout arguments
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: none

Parse environment variables for spellout arguments
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: none

Add flag to display the spelling alphabet and exit
  crates/spellout/src/main.rs
Labels: none

Add flag to display the spelling alphabet and exit
  crates/spellout/src/main.rs
Labels: none

Add flag for verbose output
  crates/spellout/src/main.rs
Labels: none

Add flag for verbose output
  crates/spellout/src/main.rs
Labels: none

Add upstream-recommended clap testing structure
  crates/spellout/src/main.rs
Labels: none

Add upstream-recommended clap testing structure
  crates/spellout/src/main.rs
Labels: none

Allow configuring verbose via an environment variable
  Cargo.lock
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Allow configuring verbose via an environment variable
  Cargo.lock
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Process multiple input strings
  crates/spellout/src/main.rs
Labels: none

Process multiple input strings
  crates/spellout/src/main.rs
Labels: none

Read input strings from stdin when none were given directly
  Cargo.lock
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Read input strings from stdin when none were given directly
  Cargo.lock
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Add flag to parse user overrides for code words
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Add flag to parse user overrides for code words
  Cargo.lock
  crates/spellabet/Cargo.toml
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: dependencies

Keep user input at end of error output
  crates/spellout/src/main.rs
Labels: none

Keep user input at end of error output
  crates/spellout/src/main.rs
Labels: none

Move dump_alphabet function into spellabet library
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/src/main.rs
Labels: none

Move dump_alphabet function into spellabet library
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/src/main.rs
Labels: none

Render usage line when no input string was provided
  crates/spellout/src/main.rs
Labels: none

Render usage line when no input string was provided
  crates/spellout/src/main.rs
Labels: none

Expand the README with details on CLI usage
  README.md
  crates/spellout/src/main.rs
Labels: documentation

Expand the README with details on CLI usage
  README.md
  crates/spellout/src/main.rs
Labels: documentation

Move MSRV documentation into spellabet lib README
  README.md
  crates/spellabet/README.md
Labels: documentation

Move MSRV documentation into spellabet lib README
  README.md
  crates/spellabet/README.md
Labels: documentation

Expand the README with library usage details
  README.md
  crates/spellabet/README.md
Labels: documentation

Expand the README with library usage details
  README.md
  crates/spellabet/README.md
Labels: documentation

Document the entire spellabet library
  crates/spellabet/Cargo.toml
  crates/spellabet/README.md
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: documentation

Document the entire spellabet library
  crates/spellabet/Cargo.toml
  crates/spellabet/README.md
  crates/spellabet/src/lib.rs
  crates/spellabet/tests/integration/main.rs
  crates/spellout/Cargo.toml
  crates/spellout/src/main.rs
Labels: documentation

Tweak documentation surrounding test commands
  .insta.yaml
  CONTRIBUTING.md
  xtask/src/main.rs
Labels: documentation

Link to the spellout binary in the library documentation
  crates/spellabet/src/lib.rs
Labels: none

Tweak documentation surrounding test commands
  .insta.yaml
  CONTRIBUTING.md
  xtask/src/main.rs
Labels: documentation

Link to the spellout binary in the library documentation
  crates/spellabet/src/lib.rs
Labels: none

Add xtask for watching and generating the Rustdocs
  xtask/src/dev.rs
  xtask/src/main.rs
Labels: none

Add xtask for watching and generating the Rustdocs
  xtask/src/dev.rs
  xtask/src/main.rs
Labels: none

Refactor conditionals checking for user input
  crates/spellout/src/main.rs
Labels: none

Refactor conditionals checking for user input
  crates/spellout/src/main.rs
Labels: none
